.contact-page{
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
.contact-links{
    position: absolute;
    bottom: 0.5%;
    width:50%;
}
.toast-container{
    position: sticky;
    width:100vw;
    height:100vh;
    z-index: -2;
    background: lightcoral;
}
.contact-wrapper{
    border-radius: 5px;
    background-size: cover;
    width: 50%;
    height: 75%;
    margin: 0 8% 0 auto;
    -webkit-box-shadow: 0 80px 140px -40px rgb(0 0 0 / 60%);
    box-shadow: 0 80px 140px -40px rgb(0 0 0 / 60%);
}
.contact-container{
    width:100%;
    height:100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-items: center;
}
.contact-left{
    display: flex;
    align-items: center;
    justify-items: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius:5px;
    background: white;
    width:50%;
    height:100%;
}
textarea{
    resize:none;
}
.contact-right{
    border-bottom-right-radius: 5px;
    border-top-right-radius:5px;
    background: #24243e;
    width:50%;
    height:100%;
}
.contact-right-container{
    height:100%;
    width:100%;
}
.contact-image{
    border-bottom-left-radius: 5px;
    border-top-left-radius:5px;
    width:100%;
    height:100%;
    object-fit: cover;
}
.contact-inputs{
    width:100%;
    text-align: center;
}
.contact-error{
    padding: 0 2vw;
    color: transparent;
    display: flex;
    justify-items: center;
    align-items: center;
    height:2rem;
}
.active-error{
    color: #ff4d5a;
}
.error-icon{
    font-size: 1.5rem;
    margin-top:5px;
}
.contact-error-text{
    font-family: Poppins, sans-serif;
    font-weight: 300;
    margin-bottom:6px;
    margin-top:5px;
    font-size: 0.8rem;
    margin-left:0.3rem;
}
.contact-name{
    width:100%;
}
.contact-input{
    height: 50px;
    width:75%;
    border:1px solid transparent;
    border-radius: 25px;
    padding: 0 5%;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    letter-spacing: 0.1em;
    font-size: 0.85rem;
    transition-duration: 0.3s;
}
.contact-input-message{
    letter-spacing: 0.1em;
    font-size: 0.85rem;
    width:27.5vw;
    max-width: 75%;
    border:none;
    border-radius: 25px;
    padding: 1rem 5%;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    transition-duration: 0.3s;
}
.contact-button{
    font-size: 0.85rem;
    height: 50px;
    width:50%;
    margin: 1rem 0 1rem 0;
    border:none;
    border-radius: 25px;
    padding: 0 5%;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition-duration: 0.4s;
}
.contact-button:hover{
    background: #ff4d5a;
}
.contact-icons{
    color: white;
    cursor: pointer;
    height: 1.5vw;
    width: 1.5vw;
    margin-right:0.5rem;
    margin-left:0.5rem;
    transition-duration: 0.3s;
}
.contact-icons:hover{
    opacity: .5;
}
.contact-title-text{
    font-size: 8rem;
    line-height: 1;
    letter-spacing: 0.1em;
    margin-bottom: 1.6rem;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    text-shadow: 0 10px 30px rgb(2 11 22 / 50%);
}
.contact-title{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 200;
    height:4.5rem;
    font-size: 1.5em;
}
@media screen and (min-width: 1025px) and (max-width: 1199px) {
    .contact-left{
        width:0;
    }
    .contact-links{
        width:100%;
    }
    .contact-right{
        width:100%;
        border-radius:5px;
    }
    .contact-error{
        margin-left:12.5%;
    }
    .contact-input{
        font-size: 0.85rem;
        height:2.75rem;
        width:30vw;
        font-weight: 300;
        letter-spacing: 0.1em;
    }
    .contact-input-message{
        padding: 1vw 5%;
        font-size: 0.85rem;
        font-weight: 300;
        height:4rem;
        width:30vw;
        letter-spacing: 0.1em;
    }
    .contact-button{
        font-size: 0.85rem;
        margin:0.8rem 0 0.8rem 0;
        height:2.75rem;
        width:15vw;
        letter-spacing: 0.1em;
        padding-right:0.8rem;
        padding-left:0.8rem;
        font-weight: 300;
    }
    .contact-title{
        font-size: 3.5vw;
    }
    .contact-icons{
        height: 2rem;
        width: 2rem;
    }
}
@media screen and (min-width: 700px) and (max-width: 1024px) {
    .contact-left{
        width:0;
    }
    .contact-links{
        width:100%;
    }
    .contact-right{
        width:100%;
        border-radius:5px;
    }
    .contact-error{
        margin-left:12.5%;
    }
    .contact-input{
        font-size: 0.85rem;
        height:2.75rem;
        font-weight: 300;
        letter-spacing: 0.1em;
        width:27.5vw;
    }
    .contact-input-message{
        padding: 1vw 5%;
        font-size: 0.85rem;
        font-weight: 300;
        height:4rem;
        letter-spacing: 0.1em;
    }
    .contact-button{
        font-size: 0.85rem;
        margin:0.8rem 0 0.8rem 0;
        height:2.75rem;
        width:20vw;
        letter-spacing: 0.1em;
        padding-right:0.8rem;
        padding-left:0.8rem;
        font-weight: 300;
    }
    .contact-title{
        font-size: 3.5vw;
    }
    .title-text{
        font-size: 2.75rem;
        padding-left:7.5%;
    }
    .contact-icons{
        height: 2rem;
        width: 2rem;
    }
}
.contact-title-main{
    color: #fff;
    position: absolute;
    overflow: hidden;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    z-index: 200;
    margin-left: 11%;
}
@media screen and (min-width: 320px) and (max-width: 474px) {
    .contact-left{
        width:0;
    }
    .contact-links{
        width:100%;
    }
    .contact-icons{
        height: 1.5rem;
        width: 1.5rem;
        margin: 0 1rem;
    }
    .contact-right{
        position: absolute;
        bottom:7.5%;
        width:100%;
        height:100%;
        border-radius:5px;
    }

    .contact-title-main{
        display: none;
    }
    .contact-wrapper{
        height:65%;
        width:75%;
        box-shadow: none;
        transform: translateY(-25%);
    }
    .break{
        display: none;
    }
    .contact-num{
        bottom:-10%;
    }
    .contact-title{
        text-align: center;
        font-size: 1.2em;
        height: 3.25rem;
    }
    .contact-error{
        padding: 0 4vw;
    }
    .contact-input{
        font-size: 0.8rem;
        height:7.5vw;
        font-weight: 300;
        letter-spacing: 0;
    }
    .contact-input-message{
        padding: 1vw 5%;
        font-size: 0.80rem;
        font-weight: 300;
        height:10vh;
        width:75%;
        letter-spacing: 0;
    }
    .contact-button{
        font-size: 0.80rem;
        margin:0.8rem 0 0.8rem 0;
        height:7.5vw;
        letter-spacing: 0;
        padding-right:0.8rem;
        padding-left:0.8rem;
        font-weight: 300;
    }
}
@media screen and (min-width: 475px) and (max-width: 699px) {
    .contact-left{
        width:0;
    }
    .contact-links{
        width:100%;
    }
    .contact-icons{
        height: 1.5rem;
        width: 1.5rem;
        margin: 0 1rem;
    }
    .contact-right{
        width:100%;
        height:100%;
        border-radius:5px;
    }
    .contact-text{
        font-size: 3rem;
    }
    .contact-title-main{
        display: none;
    }
    .contact-wrapper{
        height:65%;
        width:75%;
        box-shadow: none;
        transform: translateY(-25%);
    }
    .break{
        display: none;
    }
    .contact-title{
        text-align: center;
        font-size: 1.2em;
    }
    .contact-error{
        padding: 0 4vw;
    }
    .contact-input{
        font-size: 0.85rem;
        height:2.25rem;
        font-weight: 300;
        letter-spacing: 0.1em;
    }
    .contact-input-message{
        padding: 1vw 5%;
        font-size: 0.85rem;
        font-weight: 300;
        height:3rem;
        width:75%;
        letter-spacing: 0.1em;
    }
    .contact-button{
        font-size: 0.85rem;
        margin:0.8rem 0 0.8rem 0;
        height:2.25rem;
        width:50%;
        letter-spacing: 0.1em;
        padding-right:0.8rem;
        padding-left:0.8rem;
        font-weight: 300;
    }
}