.entire-page{
    z-index: -100;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    color: #fff;
}
.about-title{
    color: #fff;
    position: absolute;
    overflow: hidden;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    z-index: 200;
    margin-left: 11%;
}
.title-text{
    font-size: 8rem;
    line-height: 1;
    letter-spacing: 0.1em;
    margin-bottom: 1.6rem;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    text-shadow: 0 10px 30px rgb(2 11 22 / 50%);
}
.about-spans{
    display: inline-block;
}
.title-description{
    font-weight: 300;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 0.1em;
    word-wrap: break-word;
    white-space: normal;
}
.about-image{
    background: url("../../assets/images/design-main.png");
    border-radius: 5px;
    background-size: cover;
    width: 55%;
    height: 75%;
    margin: 0 8% 0 auto;
    -webkit-box-shadow: 0 80px 140px -40px rgb(0 0 0 / 60%);
    box-shadow: 0 80px 140px -40px rgb(0 0 0 / 60%);
}
.about-image-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.about-image-cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.about-image-cover-1{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    background: #072142;
}
.about-page-num{
    position: absolute;
    overflow-y: hidden;
    bottom: 7%;
    font-size: 15rem;
    color: #fff;
    font-family: Poppins, sans-serif;
    z-index: 200;
    font-size: 5rem;
    right:6%;
    text-shadow: 0 0 5px black;
}